WindTurbineAnalyser/network.mat
WindTurbineAnalyser/WindTurbineAnalyzerServer.pdb
WindTurbineAnalyser/WindTurbineAnalyzerServer.exe.config
WindTurbineAnalyser/WindTurbineAnalyzerServer.exe
WindTurbineAnalyser/Test2.jpg
WindTurbineAnalyser/Test.jpg
WindTurbineAnalyser/ReceivedAudio/wind1min.wav
WindTurbineAnalyser/Images/Wind/WindForest9.bmp
WindTurbineAnalyser/Images/Wind/WindForest8.bmp
WindTurbineAnalyser/Images/Wind/WindForest7.bmp
WindTurbineAnalyser/Images/Wind/WindForest6.bmp
WindTurbineAnalyser/Images/Wind/WindForest5.bmp
WindTurbineAnalyser/Images/Wind/WindForest4.bmp
WindTurbineAnalyser/Images/Wind/WindForest3.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine135Amplified9.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine135Amplified8.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine135Amplified7.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine135Amplified6.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine135Amplified5.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine135Amplified4.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine135Amplified3.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine135Amplified20.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine135Amplified2.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine135Amplified19.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine135Amplified18.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine135Amplified17.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine135Amplified16.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine135Amplified15.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine135Amplified14.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine135Amplified13.bmp
WindTurbineAnalyser/Images/Wind/WindForest20.bmp
WindTurbineAnalyser/Images/Wind/WindForest2.bmp
WindTurbineAnalyser/Images/Wind/WindForest19.bmp
WindTurbineAnalyser/Images/Wind/WindForest18.bmp
WindTurbineAnalyser/Images/Wind/WindForest17.bmp
WindTurbineAnalyser/Images/Wind/WindForest16.bmp
WindTurbineAnalyser/Images/Wind/WindForest15.bmp
WindTurbineAnalyser/Images/Wind/WindForest14.bmp
WindTurbineAnalyser/Images/Wind/WindForest13.bmp
WindTurbineAnalyser/Images/Wind/WindForest12.bmp
WindTurbineAnalyser/Images/Wind/WindForest11.bmp
WindTurbineAnalyser/Images/Wind/WindForest10.bmp
WindTurbineAnalyser/Images/Wind/WindForest1.bmp
WindTurbineAnalyser/Images/Wind/Wind1min9.bmp
WindTurbineAnalyser/Images/Wind/Wind1min8.bmp
WindTurbineAnalyser/Images/Wind/Wind1min7.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine135Amplified12.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine135Amplified11.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine135Amplified10.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine135Amplified1.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min99.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min98.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min97.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min96.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min95.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min94.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min93.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min92.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min91.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min90.bmp
WindTurbineAnalyser/Classification/wind1min/Image14.bmp
WindTurbineAnalyser/Classification/wind1min/Image13.bmp
WindTurbineAnalyser/Classification/wind1min/Image12.bmp
WindTurbineAnalyser/Classification/wind1min/Image11.bmp
WindTurbineAnalyser/Classification/wind1min/Image10.bmp
WindTurbineAnalyser/Classification/wind1min/Image1.bmp
WindTurbineAnalyser/Images/Wind/Wind1min6.bmp
WindTurbineAnalyser/Images/Wind/Wind1min5.bmp
WindTurbineAnalyser/Images/Wind/Wind1min4.bmp
WindTurbineAnalyser/Images/Wind/Wind1min3.bmp
WindTurbineAnalyser/Images/Wind/Wind1min20.bmp
WindTurbineAnalyser/Images/Wind/Wind1min2.bmp
WindTurbineAnalyser/Images/Wind/Wind1min19.bmp
WindTurbineAnalyser/Images/Wind/Wind1min18.bmp
WindTurbineAnalyser/Images/Wind/Wind1min17.bmp
WindTurbineAnalyser/Images/Wind/Wind1min16.bmp
WindTurbineAnalyser/Images/Wind/Wind1min15.bmp
WindTurbineAnalyser/Images/Wind/Wind1min14.bmp
WindTurbineAnalyser/Images/Wind/Wind1min13.bmp
WindTurbineAnalyser/Images/Wind/Wind1min12.bmp
WindTurbineAnalyser/Images/Wind/Wind1min11.bmp
WindTurbineAnalyser/Images/Wind/Wind1min10.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min9.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min89.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min88.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min87.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min86.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min85.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min84.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min83.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min82.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min81.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min80.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min8.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min79.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min78.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min77.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min76.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min49.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min48.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min47.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min46.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min45.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min44.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min43.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min42.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min41.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min40.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min4.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min39.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min38.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min37.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min36.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min35.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min34.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min33.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min32.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min31.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min30.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min3.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min29.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min28.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min27.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min26.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min25.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min24.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min23.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min22.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min21.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min20.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min2.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min19.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min18.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min17.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min16.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min15.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min14.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min13.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min12.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min11.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min100.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min10.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min1.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine9.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine8.bmp
WindTurbineAnalyser/Images/Wind/QuietWind16.bmp
WindTurbineAnalyser/Images/Wind/QuietWind15.bmp
WindTurbineAnalyser/Images/Wind/QuietWind14.bmp
WindTurbineAnalyser/Images/Wind/QuietWind13.bmp
WindTurbineAnalyser/Images/Wind/QuietWind12.bmp
WindTurbineAnalyser/Images/Wind/QuietWind11.bmp
WindTurbineAnalyser/Images/Wind/QuietWind10.bmp
WindTurbineAnalyser/Images/Wind/QuietWind1.bmp
WindTurbineAnalyser/Images/Wind Turbine/windTurbine1159.bmp
WindTurbineAnalyser/Images/Wind Turbine/windTurbine1158.bmp
WindTurbineAnalyser/Images/Wind Turbine/windTurbine1157.bmp
WindTurbineAnalyser/Images/Wind Turbine/windTurbine1156.bmp
WindTurbineAnalyser/Images/Wind Turbine/windTurbine1155.bmp
WindTurbineAnalyser/Images/Wind Turbine/windTurbine1154.bmp
WindTurbineAnalyser/Images/Wind Turbine/windTurbine1153.bmp
WindTurbineAnalyser/Images/Wind Turbine/windTurbine11520.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min71.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min70.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min7.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min69.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min68.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min67.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min66.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min65.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min64.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min63.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min62.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min61.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min60.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min6.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min59.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min58.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min54.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min53.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min52.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min51.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min50.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min5.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine7.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine6.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine5.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine40.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine39.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine38.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine37.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine36.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine35.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine34.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine33.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine32.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine31.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine30.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine3.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine29.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine28.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine27.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine26.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine25.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine24.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine23.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine22.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine21.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine20.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine2.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine19.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine18.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine17.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine16.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine15.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine14.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine13.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine12.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine11.bmp
WindTurbineAnalyser/Images/Wind Turbine/VaryingTurbine10.bmp
WindTurbineAnalyser/DownloadedAudio/windforest1min.wav
WindTurbineAnalyser/DownloadedAudio/wind5min.wav
WindTurbineAnalyser/DownloadedAudio/wind1min.wav
WindTurbineAnalyser/DownloadedAudio/turbine135.wav
WindTurbineAnalyser/DownloadedAudio/WindTurbineVarying.wav
WindTurbineAnalyser/DownloadedAudio/WindTurbine115.wav
WindTurbineAnalyser/DownloadedAudio/RealTurbine10Min.mp3
WindTurbineAnalyser/DownloadedAudio/QuietWind.wav
WindTurbineAnalyser/Classification/wind1min/Image9.bmp
WindTurbineAnalyser/Classification/wind1min/Image8.bmp
WindTurbineAnalyser/Classification/wind1min/Image7.bmp
WindTurbineAnalyser/Classification/wind1min/Image6.bmp
WindTurbineAnalyser/Classification/wind1min/Image5.bmp
WindTurbineAnalyser/Classification/wind1min/Image4.bmp
WindTurbineAnalyser/Classification/wind1min/Image3.bmp
WindTurbineAnalyser/Classification/wind1min/Image2.bmp
WindTurbineAnalyser/Classification/wind1min/Image15.bmp
WindTurbineAnalyser/Images/Wind/Wind1min1.bmp
WindTurbineAnalyser/Images/Wind/QuietWind9.bmp
WindTurbineAnalyser/Images/Wind/QuietWind8.bmp
WindTurbineAnalyser/Images/Wind/QuietWind7.bmp
WindTurbineAnalyser/Images/Wind/QuietWind6.bmp
WindTurbineAnalyser/Images/Wind/QuietWind5.bmp
WindTurbineAnalyser/Images/Wind/QuietWind4.bmp
WindTurbineAnalyser/Images/Wind/QuietWind3.bmp
WindTurbineAnalyser/Images/Wind/QuietWind20.bmp
WindTurbineAnalyser/Images/Wind/QuietWind2.bmp
WindTurbineAnalyser/Images/Wind/QuietWind19.bmp
WindTurbineAnalyser/Images/Wind/QuietWind18.bmp
WindTurbineAnalyser/Images/Wind/QuietWind17.bmp
WindTurbineAnalyser/Images/Wind Turbine/windTurbine11519.bmp
WindTurbineAnalyser/Images/Wind Turbine/windTurbine11518.bmp
WindTurbineAnalyser/Images/Wind Turbine/windTurbine11517.bmp
WindTurbineAnalyser/Images/Wind Turbine/windTurbine11516.bmp
WindTurbineAnalyser/Images/Wind Turbine/windTurbine11515.bmp
WindTurbineAnalyser/Images/Wind Turbine/windTurbine11514.bmp
WindTurbineAnalyser/Images/Wind Turbine/windTurbine11513.bmp
WindTurbineAnalyser/Images/Wind Turbine/windTurbine11510.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min75.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min74.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min73.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min72.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min57.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min56.bmp
WindTurbineAnalyser/Images/Wind Turbine/turbine10min55.bmp
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/WindTurbineAnalyzerServer_MarkupCompile.lref
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/Interop.MLApp.dll
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/GeneratedInternalTypeHelper.g.cs
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/DesignTimeResolveAssemblyReferences.cache
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/App.g.i.cs
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/App.g.cs
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/bin/Debug/WindTurbineAnalyzerServer.pdb
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/bin/Debug/WindTurbineAnalyzerServer.exe.config
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/bin/Debug/WindTurbineAnalyzerServer.exe
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/bin/Debug/ReceivedAudio/wind1min.wav
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/WindTurbineAnalyzerServer_MarkupCompile.i.lref
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/WindTurbineAnalyzerServer_MarkupCompile.i.cache
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/WindTurbineAnalyzerServer_MarkupCompile.cache
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/WindTurbineAnalyzerServer.pdb
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/MainWindow.g.i.cs
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/WindTurbineAnalyzerServer.g.resources
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/WindTurbineAnalyzerServer.exe
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/WindTurbineAnalyzerServer.csprojAssemblyReference.cache
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/WindTurbineAnalyzerServer.csproj.ResolveComReference.cache
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/WindTurbineAnalyzerServer.csproj.GenerateResource.cache
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/WindTurbineAnalyzerServer.csproj.FileListAbsolute.txt
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/WindTurbineAnalyzerServer.csproj.CoreCompileInputs.cache
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/WindTurbineAnalyzerServer.Properties.Resources.resources
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/Views/MainWindow.g.i.cs
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/Views/MainWindow.g.cs
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/Views/MainWindow.baml
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/Views/ClassificationResultsView.g.i.cs
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/Views/ClassificationResultsView.g.cs
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/Views/ClassificationResultsView.baml
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/ViewModels/ClassificationResultsView.g.i.cs
WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/WindTurbineAnalyzerServer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
